*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}
/* fondo de pagina */
.principal{
    background-color: #212121;
}
.logo-oeste{
    background-color:#fafafa;
}
.logo-principal{
    display:flex;
    justify-content: center;
}

/* Menu interactivo */

.enlaces{
    color: rgb(211, 211, 211);
    background-color: #212121;
    display: flex;
    height: 45px;
    width: 100%;
    z-index: 100;
    align-items: center;
}
.enlaces ul{
    list-style-type: none;
    padding: 0;
}
.enlaces li{
    display: inline
}
.enlaces a{
    text-decoration: none;
    margin-right: 30px;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color: white;
    margin-left: 15px;
    font-size: 15px;
    font-weight: 500;
}
.enlaces a:hover{
    color: #d7e9a5;
}


/* Titulo, parrafo*/
.inicio{
    background-color: #212121;
    text-align: center;
}
.inicio h1{
    font-size: 60px;
    font-family: "Raleway", serif;
    color: #fafafa;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 15px;
}
.inicio p{
    font-size: 20px;
    font-family: "Raleway", serif;
    font-weight: 500;
    color: #f7f7f7;
    margin-bottom: 5px;
}
.imagenesglobal{
    margin-top: 20px;
}
.imagenes{
    background-color: #212121;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
}
.imagenes-dos{
    background-color: #212121;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
}

/* Cronograma */
.principal-crono{
    background-color: #212121;
}
.cronograma-tittle{
    text-align: center;
    font-size: 60px;
    font-family: "Raleway", serif;
    background-color: #212121;
    color: #fafafa;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 15px;
}
.principal-crono {
    font-family: Arial, sans-serif;
    color: white;
}
.cronograma {
    margin: 20px auto;
    border-collapse: collapse;
    width: 50%;
    color: white;
}
th, td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #5AA6D8;
    color: white;
    font-weight: bold;
}
td {
    background-color: #1a1a1a;
}


/* Actividades */
.principal-act{
    background-color: #212121;
}
.actividades{
    text-align: center;
}
    .actividades ul li{
        font-size: 40px;
        font-family: "Raleway", serif;
        font-weight: 600;
        color: #fafafa;
}
.actividades p{
    font-size: 20px;
        font-family: "Raleway", serif;
        font-weight: 600;
        color: #fafafa
    }
.footer-act{
    color: #fafafa;
}

/* Precios */
.principal-pre{
    background-color: #212121;
}
.precio{
    color: #fafafa;
    margin-top: 30px;
    font-size: 50px;
    font-family: "Raleway", serif;
    font-weight: 600px;
    text-align: center;
}
.custom-bg {
    background-color: #212529;
    color: white;
}

/* Localidad */
.principal-local{
    background-color: #212121;
}
.localidad{
    text-align: center; 
    font-size: 50px;
    font-family: "Raleway", serif;
    font-weight: 600;
    color: #fafafa;
    margin-top: 15px;
    margin-bottom: 15px;
}
.direccion h2{
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: "Raleway", serif;
    font-weight: 200;
    color:#fafafa
}
.direccion h3{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: "Raleway", serif;
    font-weight: 200;
    color: #fafafa;
}
/* Footer */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.footer{
    padding: 100px 0 50px 0;
    background: linear-gradient(#212121, #012f4e)
}
.footer-link{
 display: flex;
}
.link{
    width: 300px;
}
.link h3{
    font-size: 18px;
    color: whitesmoke;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif
}
.link a{
    font-size: 17px;
    color: whitesmoke;
    display: block;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif
}
.link a:hover{
    color: #5AA6D8
}
.socials{
    display: flex;
    margin-bottom: 15px;
}
.socials a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: #000000;
    margin: 0 15px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fafafa;
    font-size: 20px;
}
.socials a:hover{
    background-color: #fafafa;
}
hr{
    border: 1px solid #6d6d6d;
    margin: 35px 0;
}
.footer-text{
    display: flex;
    justify-content: space-between;
}
.footer-text p{
    font-size: 15px;
    color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
}

/* diseño para movil */
@media screen and (max-width: 768px){
/* home */
.header{
    text-align: center;
}
.inicio h1{
    font-size: 55px;
    width: 100%;
    text-align: center;
}
.inicio p{
    font-size: 17px;
    width: 100%;
    text-align: center;
}
.imagenes{
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 25%);
    row-gap: 1rem;
    padding: 0;
    margin: 0;
    align-content: center;
}
.imagenes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imagenes-dos{
    display: none;
}

/* cronograma */
.cronograma-tittle{
    font-size: 55px;
    width: 100%;
    text-align: center;
}
th, td {
    font-size: 10px;
    padding: 5px;
}

/* footer */
.footer{
    padding: 30px;
}
.footer-link{
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.socials{
    justify-content: center;
}
.footer-text{
    text-align: center;
}

}