// import mixin
@import "../utilidades/mixin";

/* estilos de tablet */
// diseño para tablet
@media screen and (max-width: 1000px){

    .header{
        text-align: center;
    }
    .inicio h1{
        font-size: 60px;
        width: 100%;
        text-align: center;
    }
    .inicio p{
        font-size: 20px;
        width: 100%;
        text-align: center;
    }
    .inscribirse{
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        width: 800px;
        height: 400px;
        justify-content: center;
        align-items: center;
    }
    .container-ins{
        margin: 0 auto;
    }
    .enlaces ul{
        display: none;
    }
    
    // cronograma
    .cronograma-tittle{
        font-size: 50px;
        width: 100%;
        text-align: center;
    }
    th, td {
        font-size: 20px;
        padding: 5px;
    }
    
    
    // footer
    .footer{
        padding: 30px;
    }
    .footer-link{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .socials{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    
    .footer-text{
        text-align: center;
    }
    
    // clases
        #app {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            span{
                display: flex;
                text-align: center;
                justify-content: center;
            }
            h1{
                font-size: 60px;
    
            }
        }
    
        .contenido-musc {
            flex-direction: column;
            margin-left: 0;
            align-items: center;
            justify-content: center;
    
            .clases-musc {
                width: 100%;
    
                h2, p {
                    font-size: 20px;
                    text-align: center;
                }
            }
    
            .image-musc {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin: 20px 0;
    
                img {
                    width: 90%;
                    max-width: 400px;
                    height: auto;
                    border-radius: 8px;
                    margin: 0 auto;
                }
    
    
                .overlay {
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    transform: translateX(-50%);
    
                    .overlay-text {
                        font-size: 2rem;
                        margin-left: 0;
                    }
                }
            }
        }
    
        .hamburguesa { display: flex; }
        .menu { display: none; }
        .menu.mostrar { display: flex; }
    }
